<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Sarah Murphree">
        <meta name="description" content="CSI443 Web site.  Text here shows up in the description listed in search engine results.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">

        <title>Sarah Murphree Portfolio</title>

<!-- See http://getbootstrap.com for detgails on how to use these libraries -->
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
	<!-- Below is the link to your custom style sheet. -->
    <!-- link rel="stylesheet" href="../css/style.css" / -->
        <style>
            /* div {
                border: solid;
            } */

            @media only screen and (min-width: 100px) {
                /* For tablets: */
            }

            @media only screen and (min-width: 768px) {
            }

            @media only screen and (min-width: 992px) {
            }

            @media only screen and (min-width: 1200px) {
                /* For desktop: will change the container class to ___*/

            }

            /*Orientation of landscape*/

            @media only screen and (orientation: landscape) {
                /* this will change the background to ___ when view is landscape */
            }

            body {
                background-image: url(./images/pexels-anniroenkae-2382738.jpg);
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
            
        </style>

    </head>
    <body>
    	<%- body %>
    </body>
</html>
