<div class="container-fluid row d-flex p-2 m-0" >
    <div class="row-fluid p-0 ps-2 m-0">
        <h5 class="mt-2" style="color:white" >NavLinks</h5>
        <a href="http://sarahmurphree.ddns.net:8080" class="btn btn-primary">Legacy Bio</a>
        <a href="./project-stockmyfoodbank" class="btn btn-primary">DEV 320 Group Project</a>
        <a href="./resources" class="btn btn-primary">Resources</a>
        <a href="http://sarahmurphree.ddns.net/http-server" class="btn btn-primary"> Vanilla Http-server</a>
    </div>

    <div class="row d-flex mt-2 m-0 p-4">
        <div class="card mt-4 rounded border border-primary-subtle border-5 justify-content-center align-items-center" style="background-color: #FFFFFF60;">
            <div class="card-body">
                <div class="row flex-grow">
                    <div class="col p-0 col-12 col-md-5 col-lg-4 col-xl-3 mb-2">
                        <div class="row">
                            <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12">
                                <img src="./images/ProfilePic.jpg" style="float:left; height:250px; aspect-ratio: 1/1; margin:0px;">
                            </div>
                        </div>
                        <div class="row">
                            <span>Sarah Murphree</span>
                            <span>sarah.murphree@bellevuecollege.edu</span>
                            <span><a href="https://www.linkedin.com/in/sarah-murphree/">LinkedIn</a></span>
                        </div>
                    </div>
                    <div class="col col-12 col-md-7 col-lg-8 col-xl-9">
                        <div class="row">
                            <span class="strong p-0">
                                Bio
                                <br>
                                </span>
                                I’m a full stack developer committed to continuously learning new technologies 
                                and keeping the bigger picture in mind during scope development. Able to design, develop 
                                and test web applications. I'm dedicated to creating clean code and experience in writing tickets.
                        </div>
                        <div class="row mt-3">
                            Education<br>
                            Spring 2026 Bellevue College, BAS Software Engineering<br>
                            2022 Coding Dojo, Software Development Online - Certificate of Achievement <br>
                            2017 South Seattle College, Seattle, WA, BAS Business
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>