<div class="container-fluid">
    <div class="row-fluid">
        <br/>
        <h5 style="color:white" >NavLinks</h5>
        <a href="http://sarahmurphree.ddns.net:8080" class="btn btn-primary">Legacy Bio</a>
        <a href="./project-stockmyfoodbank" class="btn btn-primary">DEV 320 Group Project</a>
        <a href="./resources" class="btn btn-primary">Resources</a>
        <a href="http://sarahmurphree.ddns.net/http-server" class="btn btn-primary"> Vanilla Http-server</a>
    </div>
    <div class="row">
        <br/><br/><br/>
    </div>
    <div class="row">
        <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12">
            <img src="./images/ProfilePic.jpg" style="float:left; height:250px; aspect-ratio: 1/1; margin:0px;">
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12">
            <p>
                Sarah Murphree<br>
                sarah.murphree at bellevuecollege dot edu
                <a href="https://www.linkedin.com/in/sarah-murphree/">LinkedIn</a> 
            </p>
        </div>
        <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12">
            <p>
                <span class="strong">
                    Bio
                    <br>
                    </span>
                    I’m a full stack developer committed to continuously learning new technologies 
                    and keeping the bigger picture in mind during scope development. Able to design, develop 
                    and test web applications. I'm dedicated to creating clean code and experience in writing tickets.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12 hidden-xs hidden-sm">
            Education<br>
            Spring 2026 Bellevue College, BAS Software Engineering<br>
            2022 Coding Dojo, Software Development Online - Certificate of Achievement <br>
            2017 South Seattle College, Seattle, WA, BAS Business
        </div> 

        <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12 hidden-xs hidden-sm">
            Experience<br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>