<div>
    <div>
      <br/>
      <br/>
      </div>
      <h1 class="text-white">Dev 320 - Group Project</h1>
      <br/>
      <h5 style="color:white" >NavLinks</h5>
      <a href="./" class="btn btn-primary">Main/Bio</a>
      <a href="./resources" class="btn btn-primary">Resources</a>
      <a href="http://sarahmurphree.ddns.net/http-server" class="btn btn-primary">Vanilla Http-Server</a>
      <br/><br/>
      <h2 style="color:white">StockMyFoodBank</h2>
      <br/>
      <div class="row">
              <ol>
                  <ul>
                      <h6 >Our Solution</h6>
                      <p>
                          Present the results of your team's effort. What are the domain models? What are environment
                          and platform considerations?  What external system interfaces exist? Additionally, talk 
                          about the experience of getting there, including project management experiences. How did 
                          you and your team get stuff done?  How did you break up the work? How did you bring your 
                          output together for a working unit/system?
                      </p>
                  </ul>
                  <br/>
                  <ul>
                      <h6 >Project Highlights</h6>
                      <p >
                          user stories, design patterns, testing and code snippets to highlight how you came up
                           with particular design solutions, meaningful PM artifacts. DON'T MAKE THIS A HEADING 
                           AND FILL IN, QUESTION AND ANSWER FORMAT! Just like your Team Charter and Concept Analysis
                      </p>
                  </ul>
                  <br/>
                  <ul>
                      <h6>My Contributions</h6>
                      <p>
                          Detail which parts of the project are yours.  Which code did you design, write. test?  How 
                          did you contribute to planning and running the team, which parts of the documentation did 
                          you write and help with.  How did you lift as you climbed and demonstrate leadership.
                      </p>
                  </ul>
                  <br/>
                  <ul>
                      <h6>Project Experience</h6>
                      <p>
                          What did you learn during this experience?

                          What does what you experienced mean to you?

                          How does the meaning that you have derived from these experiences fit into your academic pursuits, your 
                          career and life goals, as well as your community and society as a whole?

                          What strengths did you learn from this experience? 

                          What were the humbling moments and how did you break through?

                          What are the next steps for the project?  What remains from your original vision for further development?
                      </p>
                  </ul>
                  <br/>
                  <ul>
                      <h6>Advice & Lessons Learned</h6>
                      <p>
                          You have the seeds for this in your weekly reports, the retrospectives, development journals, and activity 
                          logs, et al.
                      </p>
                  </ul>
                  <br/>
                  <ul>
                      <h6>Link to Our Project</h6>
                      <p>
                          <a href="">Placeholder</a>
                          <br/>
                          Include User Instructions
                      </p>
                  </ul>
              </ol>
              </div>
          </div>
      </div>
    </div>
  </div>
