<div>
    <div>
      <br/>
      <br/>
    </div>
    <h1 class="text-white">Resources</h1>
    <br/>
    <h5 style="color:white">NavLinks</h5>
    <a href="./" class="btn btn-primary">Main/Bio</a>
    <a href="./project-stockmyfoodbank" class="btn btn-primary">Dev 320 Group Project</a>
    <a href="http://sarahmurphree.ddns.net/http-server" class="btn btn-primary">Vanilla Http-Server</a>
    <br/>
    <br/>

    <h3 style="color:white">Web Resources</h3>
      <p class="d-inline-flex gap-1">
        <a href="#a" class="btn btn-primary"  data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="a">Languages</a> | 
        <a href="#b" class="btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="b">Frameworks/Libraries</a> |
        <a href="#c" class="btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="c">Databases</a> | 
        <a href="#d" class="btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="d">CSS</a> |
        <a href="#e" class="btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="e">Misc</a> |
        <a class="btn btn-primary" data-bs-target=".multi-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="a b c d e">All Sections</a> |
      </p>

      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="a">
            <div class="card card-body">
              <h3>Languages</h3>
              <br/>
              <ol>
                <ul>
                  <p>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">MDN - JavaScript, CSS, HTML</a><br />
                    MDN is a open source resource for developers owned by Mozilla. Since this resource is open source it stays up to date with the help of the developer community on web development, mainly in JS, CSS, and HTML.<br />
                    I personally, really like using MDN as a resource for JavaScript. It's a great tool for any level to have a reminder for all of the functions and capabilities of JavaScript. It has the added benefit of tips on how best to develop your website.<br />
                    Rating:5/5
                  </p>
                </ul>
              
                <ul>
                  <p>
                    <a href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a><br />
                    The primary source for all things C#.<br />
                    Microsoft does documnentation very well so any level can use them easily for complex or beginner needs. Anything you could need to figure out about C# is in the documentation, tutorials, or the FAQs. I often use C#'s documentation for learning about new methods to match an idea I have or their FAQ for troubleshooting.<br />
                    Rating:5/5
                  </p>
                </ul>
              
                <ul>
                  <p>
                    <a href="https://dev.java/learn/">Java</a><br />
                    Oracle, the company behind Java runs this website for information and tutorials on Java.<br />
                    This site is a little harder to navigate but it's always good to have the original source for any language. For beginners it's always got tutorials that are a great place to start. Personally I use it for reminders on functions or toubleshooting.<br />
                    Rating:3/5
                  </p>
                </ul>
              
                <ul>
                  <p>
                    <a href="https://www.python.org/">Python</a><br />
                    The original source for all things Python.<br />
                    This site has good tutorials and guides for any level programmer. If you need a reminder or reference on how to do something this is a great beginning point. For more advanced debugging you may need to use additional sites.<br />
                    Rating:4/5
                  </p>
                </ul>
              </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="b">
            <div class="card card-body">
              <h3>Frameworks/Libraries</h3>
              <br/>
              <ol>
                <h4>Frontend</h4>
                <ul>
                  <p>
                    <a href="https://react.dev/">React</a><br />
                    The React libraries primary resource.<br />
                    This site has a great tutorial and reference for a majority of what you will need to know for React as a beginner. For more advanced users you need to pair it with the React Framework of your choice to troubleshoot and figure out more advanced topics.<br />
                    Rating:4/5
                  </p>
                </ul>

                <ul>
                  <p>
                    <a href="https://angular.dev/">Angular</a><br />
                    Primary source for anything Angular framework.<br />
                    Angular has a fun and interactive website, especially the playground. They have extensive documents to help with anything you need but due to the nature of Angular being highly customizable, it can be a lot for a beginner outside the tutorials. As a beginner in Angular, I'd use it for tutorials and researching uses.<br />
                    Rating:4/5
                  </p>
                </ul>

                <h4>Backend</h4>
                <ul>
                  <p>
                    <a href="https://dotnet.microsoft.com/en-us/">.Net</a><br />
                    The primary resource for the compiled programming language, owned by Microsoft, C#.<br />
                    As per expected by Microsoft, this site is a one stop for anything you need to figure out about C# for any level. It's great for tutorials, guides, and community FAQs.<br />
                    Rating:5/5
                  </p>
                </ul>

                <ul>
                  <p>
                    <a href="https://spring.io/projects/spring-framework">Spring</a><br />
                    The primary resource for the Spring framework when developing backends with Java.<br />
                    This resource is comphrensive and helpful for all the different plugins possible. Any level programmer can you it and I mostly use for reminders and tutorials as a beginner Java developer.<br />
                    Rating:4/5
                  </p>
                </ul>
              </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="c">
            <div class="card card-body">
              <h3>Databases</h3>
              <br/>
              <ol>
                <h4>Non-Relational Databases</h4>
                <ul>
                  <p>
                    <a href="https://www.mongodb.com">Mongo DB</a><br />
                    The primary source for information on the non-relational database, MongoDB. This site also gives you access to MongDB Atlas for Cloud services.<br />
                    With great documentation on MongoDB, a cloud server, and get tutorials, this database ends up often being my favorite for ease of use due to it's support from this website. It's great for any level programmer.<br />
                    Rating:5/5
                  </p>
                </ul>
              
                <h4>Relational Databases</h4>
                <ul>
                  <p>
                    <a href="https://learn.microsoft.com/en-us/sql/sql-server/?view=sql-server-ver16">SQL Server</a><br />
                    Primary resource for Microsoft's SQL Server database.<br />
                    Owned by Microsoft, this website is a one stop shop for anything you need to learn or troubleshoot for SQL Server and great for any level to find what they need. I often find myself here to use their community FAQ or reasearching advanced searches.<br />
                    Rating:5/5
                  </p>
                </ul>
              
                <ul>
                  <p>
                    <a href="https://www.mysql.com/">MySQL</a><br />
                    Open source relational database. <br />
                    The website is not the easiest to navigate as a beginner but has good technical documentation for query syntax.<br />
                    Rating:3/5
                  </p>
                </ul>
              
                <ul>
                  <p>
                    <a href="https://www.postgresql.org/">PostgreSQL</a><br />
                    The primary resource for an very advanced open source relational database.<br />
                    This website helps greatly with using this highly configureable database. The resource has some good tutorials but the database is complex and so the documentation is not always the easiest for a beginner to just pick up.<br />
                    Rating:3/5
                  </p>
                </ul>
              </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="d">
            <div class="card card-body">
              <h3>CSS</h3>
              <br/>
              <ol>
                <ul>
                  <p>
                    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS-Tricks | Flexbox</a><br />
                    A comphrensive guide to CSS flexbox layouts.<br />
                    This is a great resource for troubleshooting if you are running into any flexbox layout issues. Any level programmer can find this site useful for troubleshooting their layout bugs.<br />
                    Rating:5/5
                  </p>
                </ul>
                <ul>
                  <p>
                    <a href="https://imagecolorpicker.com/">ImageColorPicker</a><br />
                    Upload a picture and be able to get the HEX or RGB codes for any color in the picture.<br />
                    This is a simple but great tool for if you are dealing with a custom color palete or trying to match a logo or image. It's super simple and easy for anyone to use.<br />
                    Rating:5/5
                  </p>
                </ul>
              </ol>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="e">
            <div class="card card-body">
              <h3>Misc</h3>
              <br/>
              <ol>
                <ul>
                  <p>
                    <a href="https://www.geeksforgeeks.org/">Geeks for Geeks</a><br />
                    Geeks for Geeks is is a resource on everything computer science and interview prep.<br />
                    This is a great resource for quick reminders and has basic information on anything web development you can think of. They don't usually get super in depth on explainations but give enough information to serve as a reminder or get you started on your research direction. Beginner programmers can really benefit from this site and advance can benefit from quick reminders on topics.<br />
                    Rating:4/5
                  </p>
                </ul>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.js"></script>